table {
  width: 100%;
}

td, th {
  width: 11.11%;
}

tr:hover{
   cursor: pointer;
   background: #b4b4b433;
 }

.mat-elevation-z8 {
  overflow-y: scroll;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}

.isActive {
  background-color: #e2d8f3;
}
