# IRIS licenses
**/license.key
**/iris.key

# Mac specific files
**/.DS_Store

# Eclipse specific files
**/.buildpath
**/.settings
!**/.settings/atelier.prefs
**/.project

# Demos
container_runtime
target/*
/.metadata/
