# IRIS licenses
**/license.key
**/iris.key

# Mac specific files
**/.DS_Store

# Eclipse specific files
**/.buildpath
**/.settings
!**/.settings/atelier.prefs
**/.project

# Demos
container_runtime
target/*
/Demos/twittersentiment/callcenterui/.classpath
/Demos/twittersentiment/callcenterui/callcenterbusiness-eclipse-project/.classpath
/Demos/twittersentiment/callcenterui/callcenterbusiness-eclipse-project/.gitignore
/Demos/timesheet/irisdialect/.gitignore
