[submodule "Demos/mobilebanking/banking_trn_srv/html/image-map-resizer"]
	path = Demos/mobilebanking/banking_trn_srv/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "Demos/iotpredmaint/iotmon/html/image-map-resizer"]
	path = Demos/iotpredmaint/iotmon/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "Demos/twittersentiment/twittersrv/html/image-map-resizer"]
	path = Demos/twittersentiment/twittersrv/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "BaseImages/jboss/buildfiles/quickstarts-java"]
	path = BaseImages/jboss/buildfiles/quickstarts-java
	url = https://github.com/intersystems/quickstarts-java/
