[submodule "Demos/mobilebanking/banking_trn_srv/html/image-map-resizer"]
	path = Demos/mobilebanking/banking_trn_srv/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "Demos/iotpredmaint/iotmon/html/image-map-resizer"]
	path = Demos/iotpredmaint/iotmon/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "Demos/miningiot/iotmon/html/image-map-resizer"]
	path = Demos/miningiot/iotmon/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
