[submodule "Demos/mobilebanking/banking_trn_srv/bankingtrnsrv-atelier-project/CSP/csp/appint/image-map-resizer"]
	path = Demos/mobilebanking/banking_trn_srv/bankingtrnsrv-atelier-project/CSP/csp/appint/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "Demos/mobilebanking/banking_trn_srv/image-map-resizer"]
	path = Demos/mobilebanking/banking_trn_srv/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
[submodule "Demos/mobilebanking/banking_trn_srv/html/image-map-resizer"]
	path = Demos/mobilebanking/banking_trn_srv/html/image-map-resizer
	url = https://github.com/davidjbradshaw/image-map-resizer
