.form-header{
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.search-button-wrapper{
  margin-top: 10px;
  margin-bottom: 25px;
}

.admission-button-wrapper{
  display: flex;
  justify-content: center;
  padding: 15px;
}
