<div class="discharge-modal-wrapper">
  <div class="modal-flex-item user-image-wrapper">
    <i class="material-icons modal-user-icon">account_circle</i>
  </div>

  <div class="modal-flex-item modal-form-wrapper">
    <app-user-discharge-form
      [(user)]="shallowUserDataCopy"
    >
    </app-user-discharge-form>
  </div>

  <div class="modal-flex-item selection-button-wrapper">
    <button mat-button *ngIf="allowDischarge" color="primary" (click)="dischargePatient()">Discharge</button>
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
