<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#673ab7"
  type="ball-atom">
  <p style="font-size: 20px; color: white">Discharging {{patient.firstName}}</p>
</ngx-spinner>
<div class="discharge-modal-wrapper">
  <div class="modal-flex-item user-image-wrapper">
    <i class="material-icons modal-user-icon">account_circle</i>
  </div>

  <div class="modal-flex-item modal-form-wrapper">
    <app-user-discharge-form
      [(user)]="patient"
    >
    </app-user-discharge-form>
  </div>

  <div class="modal-flex-item selection-button-wrapper">
    <button mat-button *ngIf="allowDischarge" color="primary" (click)="dischargePatient()">Discharge</button>
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
  </div>
  <div class="modal-flex-item error-message-wrapper" *ngIf="hasError">
    <h4>Error Discharging {{patient.firstName}}. Please select a discharge destination and retry.</h4>
  </div>
</div>
